html,
body {
    margin: 0;
}

html{
    background-color: black;
}

.row {
    height: 100svh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.bg-row{
background-color: #2d2b27;
}

.titulo {
    position: fixed;
    top: 2rem;
    right: 2rem;
    color: white;
    margin: 0;
    z-index: 100;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: -1;
}

.bg-fijado{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100vw;
    height: 100vh;
}

.video, .video-iframe {
    width: 120%;
    height: 120%;
    object-fit: cover;
}



.debug{
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 200;
    background-color: white;
}