@font-face {
    font-family: "NeueHaasDisplay-Mediu";
    src: url("/linear/index_files/fonts/neue-haas-display/NeueHaasDisplay-Mediu.ttf");
}

@font-face {
    font-family: "NeueHaasDisplay-Roman";
    src: url("/linear/index_files/fonts/neue-haas-display/NeueHaasDisplay-Roman.ttf");
}

@font-face {
    font-family: "terminal-grotesque";
    src: url("/linear/index_files/fonts/Terminal-Grotesque-master/terminal-grotesque.ttf");
}

@font-face {
    font-family: "terminal-grotesque_open";
    src: url("/linear/index_files/fonts/Terminal-Grotesque-master/terminal-grotesque_open.otf");
}

html {
    scroll-behavior: smooth;
    font-family: NeueHaasDisplay-Roman, Arial, Helvetica, sans-serif;
}

.neueHaas-medium {
    font-family: NeueHaasDisplay-Mediu, Arial, Helvetica, sans-serif;
}

.neueHaas-roman {
    font-family: NeueHaasDisplay-Roman, Arial, Helvetica, sans-serif;
}

.terminal-grotesque {
    font-family: terminal-grotesque, Arial, Helvetica, sans-serif;
}

.terminal-grotesque-open {
    font-family: terminal-grotesque_open, Arial, Helvetica, sans-serif;
}